<!-- I'm gonna make it so DRY for you -->

<% menuItems.forEach((item) => { %>
<% // menuWhole.forEach((item) => { %>
    <h3>
      <%= item.name %> <%= item.rating === 5 ? 'â­' : '' %>
    </h3>
    <p>
        Price: $<%= (Math.round(item.price * 100) / 100).toFixed(2) %> | Rating: <%= item.rating %>/5
    </p>
    <p> <%= item.details %> </p>
<% }); %>