<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Full Menu</h1>

    <!-- saving exercise 2 level up for later; would have to:
     1 - count/separate the categories with a reduce
     2 - forEach the reduced categories into H2 sections
     3 - inside there, then filter the menu array for the type

     come to think of it, maybe it'd be better to do some of that processing work in the server.js rather than menu.ejs....

     gotta MVP first -->


  <% categories.forEach((category) => { %>
    <h2> <%= String(category).charAt(0).toUpperCase() + String(category).slice(1) %> </h2>
    <% const menuItems = menuWhole.filter((item) => item.category === category) %>
    <% // console.log(category) %>
    <% // console.log(menuItems) %>

    <!-- this works for now, although I tried to make it DRY below -->
    <% menuItems.forEach((item) => { %>
      <h3>
        <%= item.name %> <%= item.rating === 5 ? 'â­' : '' %>
      </h3>
      <p>
          Price: $<%= (Math.round(item.price * 100) / 100).toFixed(2) %> | Rating: <%= item.rating %>/5
      </p>
      <p> <%= item.details %> </p>
    <% }); %>


    <!-- so apparently include() doesn't play by the same scope rules? -->
     <!-- I was really proud of my DRY here but I will just have to come back to it :/ -->
    <%- // include('./partials/menuFormat') %>

    <% }) %>

<!-- this is leftover from the un-grouped whole menu page -->
  <%- // include('./partials/menuFormat') %>

</body>
</html>
